@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.master {
  @include flexCenter;
  flex-direction: column;
  background: rgb(52, 0, 119);
  color: white;
  box-shadow: 0 0 15px rgb(34, 0, 78);
  border-radius: 20px;
  width: 60%;
  height: 70%;

    input {
      width: 35%;
      border: none;
      letter-spacing: 0.3px;
      padding: 9px 9px;
      border-radius: 20px;
      outline: none;
    }
}

.search {
  @include flexCenter;
  width: 100%;
}

.container {
  display: flex;
  font-weight: 500;
  width: 100%;
  height: 90%;

  img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
  }
}

.disc {
  @include flexCenter;
  flex-direction: column;
  width: 35%;
  min-width: 35%;
  height: 100%;
  text-align: center;
  margin-left: 15px;

    span {
      margin: 6px 0;
    }
}
.avatar {
  display: flex;
  align-items: center;
  flex-direction: column;

  div {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  border-radius: 10px;
  width: 100%;
  height: 30%;
  background: rgb(47, 0, 100);

    div {
      display: flex;
      justify-content: space-around;
    }
}

.topLine{

    div{
      display: flex;
      flex-direction: column;

      span {
        margin: 2px 0;
      }
    }
}

.botLine {

    div{
      display: flex;
      flex-direction: column;
       
      span {
        margin: 2px 0;
      }
    }
}

.repositories {
  display: grid;
  height: 90%;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));;
  grid-auto-rows: 200px;
  align-self: center;
  justify-content: center;
  overflow-y: scroll;
  margin: 0 5px 0 15px;
}

.repoName {
  line-break: anywhere;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 
  margin: 20px 0;
  background: rgb(95, 3, 180);
  border-radius: 4px;
  margin-right: 10px; 

    span {
      margin: 7px;
      font-weight: 400;
    }
}

.repoName :nth-child(1) {
  margin-top: 6px;
  font-size: 1.1rem;
  font-weight: 500;
}


@media (max-width: 1000px) and (orientation:landscape){
  .master {
    width: 75%;
  }
}

@media (max-width: 830px) and (orientation:landscape){
  .master {
    width: 80%;
  }
}

@media (max-width: 800px) and (orientation:landscape){
  .master {
    width: 85%;
  }
}

@media (max-width: 700px) and (orientation:landscape){
  .master {
    width: 95%;
  }
}

@media (max-width: 680px) and (orientation:landscape){
  .master {
    width: 98%;
  }
}

@media (max-width: 650px) and (orientation:portrait){
  .master {
    height: 80%;
    width: 70%;
  }

  .search {
    margin:15px 0 ;

    input {
      width: 70%;
    }
  }

  .disc {
    width: 99%;
    margin: 0 5px;
  }

  .info {
    height: 50%;
    flex-direction: row;
  }

  .botLine div, 
  .topLine div {
    margin: 10px;
  }

  .botLine div span, 
  .topLine div span {
    margin: 0;
  }

  .avatar {
    flex-direction: row;

      div {
        margin: 0 5px;
      }
  }

  .container {
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 430px) and (orientation:portrait){
  .master {
    width: 90%;
  }
}

@media (max-width: 330px) and (orientation:portrait){
  .master {
    width: 95%;
  }
}